body, h1, h2, p, u1, li {
    nargin: 0;
    padding: 0;
  }

/* .inline-block-child {
  display: inline-block;
} */

input.letterbox {
  max-width: 20px;
}

.banner {
  overflow: hidden;
  white-space: nowrap;
}

.alphabet {
  display: inline-block;
  font-family: arial;
  font-size: 14;
  font-weight: bold;
}

.wordle {
  padding-bottom: 24px;
}